<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/css/lunbo/lunbo.css" />
		<title>轮播图片</title>
	</head>

	<body>
		<div class="viewWindow">
			<div class="train clearfix">
				
			</div>
		</div>
		<script src="../../static/js/lunbo/lunbo.js"></script>
		<script type="text/javascript">
			
			var imgUrlArr = [];
			imgUrlArr[0] = "../../static/images/lunbo/goodItem.jpg";
			imgUrlArr[1] = "../../static/images/lunbo/goodItem2.jpg";
			imgUrlArr[2] = "../../static/images/lunbo/goodItem3.jpg";
			train(imgUrlArr,1000);
		</script>
	</body>

</html>